<header
  class="flex items-center justify-between p-4 bg-zinc-900 text-white shadow-lg">
  <a routerLink="/board">
    <div class="flex items-center gap-4">
      <h1 class="text-2xl font-bold">Devllo</h1>
    </div>
  </a>
  <div class="flex items-center gap-4">
    <p-autocomplete
      [(ngModel)]="value"
      [dropdown]="true"
      [suggestions]="items"
      placeholder="Buscar Proyectos"
      (completeMethod)="search($event)" />
    <p-button label="Perfil" icon="pi pi-user" routerLink="/profile" />
  </div>
</header>
