.board-container {
  display: flex;
  gap: 1rem;
  padding: 20px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.p-card-list {
  width: 300px;
  background-color: #ebecf0;
  border-radius: 3px;
}
