<div class="flex justify-between items-center">
  @if (isEditing) {
    <div class="flex gap-2 items-center">
      <input
        type="text"
        pInputText
        [(ngModel)]="board.name"
        class="flex-1 w-full" />
      <div class="flex gap-2 flex-1">
        <p-button icon="pi pi-check" (click)="confirmEdit()"></p-button>
        <p-button
          icon="pi pi-times"
          severity="secondary"
          (click)="cancelEdit()"></p-button>
      </div>
    </div>
  } @else {
    <a [routerLink]="'/board/' + board.id" class="hover:underline">
      <h2 class="font-semibold text-lg">{{ board.name }}</h2>
    </a>
    <p-menu
      #menu
      [model]="menuItems"
      [popup]="true"
      (onShow)="onMenuShow()"></p-menu>
    <button
      pButton
      type="button"
      icon="pi pi-ellipsis-v"
      class="p-button-text p-button-rounded p-button-plain"
      (click)="menu.toggle($event)"></button>
  }
</div>
