.p-card-task {
  margin-bottom: 0.5rem;
  cursor: grab;
}

.list-panel {
  width: 300px;
  margin: 10px;
}

.list-content {
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
