<app-header></app-header>
<!-- Diálogo para unirse al tablero -->
<p-dialog
  header="Unirse"
  [(visible)]="displayJoinDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '25rem' }">
  <div class="p-4">
    <label for="joinCode" class="block font-bold mb-2">Unirse al tablero</label>
    <input
      pInputText
      id="joinCode"
      type="text"
      [(ngModel)]="joinCode"
      class="w-full mb-4"
      autocomplete="off" />
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="cancelJoin()"></p-button>
      <p-button label="Unirse" (click)="joinBoard()"></p-button>
    </div>
  </div>
</p-dialog>
<div class="p-4 max-w-6xl w-[90%] mx-auto mt-16">
  <h1 class="text-2xl font-bold mb-6 text-zinc-200">Tableros</h1>

  <!-- Formulario para crear un nuevo board -->
  <div class="flex gap-2 mb-6">
    <input
      pInputText
      type="text"
      [(ngModel)]="newBoardName"
      placeholder="Añadir un nuevo tablero..."
      class="flex-grow" />
    <p-button
      label="Crear Tablero"
      icon="pi pi-plus"
      (onClick)="createBoard()"
      styleClass="p-button-primary"></p-button>
    <p-button
      label="Unirse"
      icon="pi pi-plus"
      (onClick)="openJoinDialog()"
      styleClass="p-button-primary"
      severity="secondary"></p-button>
  </div>

  <!-- Lista de boards existentes -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <!-- Boards existentes -->
    <p-card
      *ngFor="let board of boards"
      class="cursor-pointer hover:shadow-2xl transition-shadow duration-200">
      <app-dasboard-board-card [board]="board"></app-dasboard-board-card>
    </p-card>
  </div>
</div>
