@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont.ttf");
  font-style: italic;
}

html,
body {
  font-family: "Inter", sans-serif;
}
